
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300&display=swap');


*{
    /* text-decoration: none; */
    /* overflow: hidden; */
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    height: 100vh;
    width: 1440px;
    background-color: hsl(225, 100%, 94%);

}

main{
    background: url(images/pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main-box{
    background-color: white;
    width: 400px;
    height: 80vh;
    /* border: solid 1px rgba(211, 207, 207, 0.938); */
    border-radius: 15px;
    

    
}

#box1 img{
    object-fit: contain;
    width: 100%;
    height:100;
    border-radius: 15px 15px 0px 0px;
    
}

#box2{
    /* background-color: yellowgreen; */
    text-align: center;
    padding: 5px 20px;
}
#box2 h1{
    color: hsl(223, 47%, 23%);
}
#box2> p{
    color: hsl(224, 23%, 55%);
    
}
#box2 #sub-box{
    display: flex;
    background-color: hsla(225, 100%, 94%,0.4);
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 50px;
    margin: auto;
    padding: 10px;
}
#box2 #sub-box #p1{
    color: hsl(223, 47%, 23%);
}

#box2 #sub-box #p1 span{
    color: hsl(224, 23%, 55%);
}



#box2 #sub-box img{
    height: 50px;
    border-radius: 15px 15px 0px 0px;
}


#box2 #sub-box #p1{
    /* background-color: chocolate; */
    margin-right: 60px;
}

#box2 #sub-box a:hover{
text-decoration: none;
}

#proceed{
    width: 90%;
    cursor: pointer;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    border-radius: 8px;
    box-shadow: 5px 3px 4px hsl(245, 75%, 52%);
    margin-top: 20px;
}
#cancel{
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .attribution{
    background-color: red;
} */



